@config "../../tailwind.config.ts";
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));
@theme inline {
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-noto-mono);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.98 0 0);
  --foreground: oklch(21% 0% 90);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2 0 0);
  --primary: oklch(0.55 0.2 250);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.95 0.05 250);
  --secondary-foreground: oklch(0.3 0 0);
  --muted: oklch(0.96 0.02 250);
  --muted-foreground: oklch(0.5 0 0);
  --accent: oklch(0.95 0.05 250);
  --accent-foreground: oklch(0.3 0 0);
  --destructive: oklch(0.65 0.2 25);
  --border: oklch(0.9 0 0);
  --input: oklch(0.9 0 0);
  --ring: oklch(0.6 0.2 250);
  --chart-1: oklch(0.65 0.2 250);
  --chart-2: oklch(0.6 0.15 180);
  --chart-3: oklch(0.55 0.2 300);
  --chart-4: oklch(0.7 0.2 100);
  --chart-5: oklch(0.65 0.2 50);
}

.dark {
  --background: oklch(14% 1% 287);
  --foreground: oklch(0.95 0 0);
  --card: oklch(14% 1% 287);
  --card-foreground: oklch(0.95 0 0);
  --popover: oklch(0.2 0 0);
  --popover-foreground: oklch(0.95 0 0);
  --primary: oklch(0.6 0.2 250);
  --primary-foreground: oklch(0.15 0 0);
  --secondary: oklch(0.25 0.05 250);
  --secondary-foreground: oklch(0.95 0 0);
  --muted: oklch(0.25 0.02 250);
  --muted-foreground: oklch(0.7 0 0);
  --accent: oklch(0.25 0.05 250);
  --accent-foreground: oklch(0.95 0 0);
  --destructive: oklch(0.65 0.15 25 / 0.9);
  --border: oklch(27% 1% 287);
  --input: oklch(27% 1% 287);
  --ring: oklch(0.25 0.05 250);
  --chart-1: oklch(0.6 0.2 250);
  --chart-2: oklch(0.65 0.15 180);
  --chart-3: oklch(0.7 0.2 300);
  --chart-4: oklch(0.65 0.2 100);
  --chart-5: oklch(0.6 0.2 50);
}

@layer base {
  * {
    @apply border-border outline-ring/30;
  }

  body {
    @apply bg-black text-foreground;
  }
}
